body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  margin-top: 80px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

.task {
  background: #e5e7eb;
  padding: 10px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
